.con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 300px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card h4{
  display: inline-block;
  height: 50px;
  text-align: center;
}

.pages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.page-no{
  display: flex;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  cursor: pointer;

}
